{% include "header.html" %}
  <body>
  <div class="container-fluid">
    <div class="row row-height">

        <div class="col-7 mh-100 mid">
            <h1>Colorado Springs</h1>
            <p>A collection of cafes located around Colorado Springs</p>
            {% for cafe in cafes %}

        <div class="card">
            <img src="{{ cafe.img_url }}" class="card-img-top" alt="Image of {{ cafe.name }}">
            <div class="card-body">
            <h5 class="card-title">{{ cafe.name }}</h5>
            <p class="card-address">{{ cafe.address }}</p>
            {% if day == "sunday" %}
                <p class="card-hours">{{ cafe.sunday }}</p>
                {% elif day == "monday" %}
                <p class="card-hours">{{ cafe.monday }}</p>
                {% elif day == "tuesday" %}
                <p class="card-hours">{{ cafe.tuesday }}</p>
                {% elif day == "wednesday" %}
                <p class="card-hours">{{ cafe.wednesday }}</p>
                {% elif day == "thursday" %}
                <p class="card-hours">{{ cafe.thursday }}</p>
                {% elif day == "friday" %}
                <p class="card-hours">{{ cafe.friday }}</p>
                {% elif day == "saturday" %}
                <p class="card-hours">{{ cafe.saturday }}</p>
            {% endif %}
            <p class="card-rating">⭐ {{ cafe.google_rating }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>{% endfor %}
        </div>

        <div class="col-5">
        <iframe class="map" src="/map" width="100%" height="100%"></iframe>
        </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>